
{{>headerpartial}}
{{>menupartial}}
<section id="viewFeed">
        <div class="content">
            <div class="chirper">

                <h2 class="titlebar">{{user}}</h2>

                <form id="formSubmitChirp" class="chirp-form">
                    <textarea name="text" class="chirp-input"></textarea>
                    <input class="chirp-submit" id="btnSubmitChirp" value="Chirp" type="submit">
                </form>

                <div id="userStats" class="user-details">
                    <span>0 chirps</span> | <span>{{following}} following</span> | <span>0 followers</span>
                </div>
            </div>
            <div id="chirps" class="chirps"><h2 class="titlebar">Chirps</h2>
                <article class="chirp">
                    <div class="titlebar">
                        <a href="#" class="chirp-author">vako</a>
                        <span class="chirp-time">1 day</span>
                    </div>
                    <p>yohooo</p>
                </article>
                
            </div>
        </div>
    </section>