
<div class="menu">
  <a href="#" onclick="loadHomeScreen()">Home</a>
  <a href="#" onclick="loadDiscover()">Discover</a>
  <a href="#" onclick="loadUserFeed()">Me</a>
  <a href="#" onclick="logoutUser()">Logout</a>
</div>
