 {{#if userIsLogged}}
<a href="#" class="anonymous" id="linkMenuAppHome" onclick="loadWelcomePage()">Home</a>
<a href="#" class="anonymous" id="linkMenuLogin" onclick="loadLoginView()">Login</a>
<a href="#" class="anonymous" id="linkMenuRegister" onclick="loadRegisterView()">Register</a>
{{else}}
<a href="#" class="useronly" id="linkMenuUserHome" onclick="loadHomePage()">Home</a>
<a href="#" class="useronly" id="linkMenuShop" onclick="loadAllProducts()">Shop</a>
<a href="#" class="useronly" id="linkMenuCart" onclick="loadMyCart()">Cart</a>
<a href="#" class="useronly" id="linkMenuLogout" onclick="logoutUser()">Logout</a>

<span class="useronly" id="spanMenuLoggedInUser">Welcome, {{user}}!</span>
{{/if}}