
{{>errorpartial}}
<section id="viewUserHome">
  <h1 id="viewUserHomeHeading">Welcome, {{user}}!</h1>
  <a href="#" id="linkUserHomeShop" onclick="loadAllProducts()">Shop</a>
  <a href="#" id="linkUserHomeCart" onclick="loadMyCart()">Cart</a>
</section>