
    <div id="cashier">
        <span>Cashier: </span>
        <a href="#">{{user}}</a>
    </div>
    <nav id="nav">
        <ul>
            <li>
                <a href="#" onclick="loadUserReceipts(event)">Overview</a>
            </li>
            <li>
                <a href="#" class="logout" onclick="logoutUser()">Logout</a>
            </li>
        </ul>
    </nav>
