<nav>
    <div class="left-container">
        <ul>
            {{#if userIsLogged}}
            <li onclick="loadHomePage()">
                <a href="#">Home</a>
            </li>
            <li onclick="loadMyFlights()">
                <a href="#">Flights</a>
            </li>
            {{else}}
            <li onclick="loadLoginPage()">
                <a href="#">Login</a>
            </li>
            <li onclick="loadRegisterPage()">
                <a href="#">Register</a>
            </li>
            {{/if}}
        </ul>
    </div>

    <div class="right-container">
        {{#if userIsLogged}}
        <span>Welcome, {{username}} |</span>
        <a href="#" class="log-out" onclick="logoutUser()">Logout</a>
        {{/if}}
    </div>
</nav>