  {{#each data}}
    <article class="post post-content">
        <p>{{content}}</p>
        <div class="info">
            submitted {{time}} days ago by {{author}} 
            {{#if isAuthorized}}
            <a href="#" class="deleteLink">delete</a>
            {{/if}}
        </div>
    </article>
  {{/each}}   