  {{#each data}}
    <article class="post post-content">
        <p>{{content}}</p>
        <div class="info">
            submitted {{time}} ago by {{author}} |
            {{#if isAuthorized}}
            <a href="#" class="deleteLink" onclick="deleteComment(event)" data-id="{{_id}}">delete</a>
            {{/if}}
        </div>
    </article>
  {{/each}}   