
  <div class="title">Navigation</div>
  <a class="nav" href="#" onclick="listPosts()">Catalog</a>
  <a class="nav" href="#" onclick="loadCreatePost()">Submit Link</a>
  <a class="nav" href="#" onclick="myPosts()">My Posts</a>
