
{{#if userIsLogged}}

<a href="#" class="anonymous" id="linkMenuAppHome" onclick="loadWelcomePage()">Home</a>
<a href="#" class="anonymous" id="linkMenuLogin" onclick="loadLoginPage()">Login</a>
<a href="#" class="anonymous" id="linkMenuRegister"onclick="loadRegisterPage()">Register</a>
{{else}}
<a href="#" class="useronly" id="linkMenuUserHome" onclick="loadHomePage()">Home</a>
<a href="#" class="useronly" id="linkMenuMyMessages" onclick="myMessages()">My Messages</a>
<a href="#" class="useronly" id="linkMenuArchiveSent" onclick="archive()">Archive (Sent)</a>
<a href="#" class="useronly" id="linkMenuSendMessage" onclick="sendMessage()">Send Message</a>
<a href="#" class="useronly" id="linkMenuLogout" onclick="logoutUser()">Logout</a>

<span class="useronly" id="spanMenuLoggedInUser">Welcome, {{user}}!</span>
{{/if}}