
{{>boxespartial}}
<section id="viewUserHome">
  <h1 id="viewUserHomeHeading">Welcome, {{user}}!</h1>
  <a href="#" id="linkUserHomeMyMessages" onclick="myMessages()">My Messages</a>
  <a href="#" id="linkUserHomeSendMessage" onclick="sendMessage()">Send Message</a>
  <a href="#" id="linkUserHomeArchiveSent" onclick="archive()">Archive (Sent)</a>
</section>