  <header>
    <h1>Hello Sammy</h1>
    <a href="#/index.html">Home</a>
    <a href="#/about.html">About</a>
    <a href="#/contact.html">Contact</a>
    <a href="#/book/144">Get book</a>
    <a href="#/login.html">Login Form</a>
    <a href="#/hello/Tseko">Say Hi</a>
  </header>