  <span class="logo">☃</span>
  <span class="header">SeenIt</span>
  {{#if userIsLogged}}
  <div id="profile">
    <span>{{username}}</span>
    <a href="#" onclick="logoutUser()">logout</a>
  </div>
  {{/if}}
